<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
        <title>Change Password</title>
		<link
	      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	      rel="stylesheet">
	</head>
	<body>
		<div class="container mt-4">
			<div class="alert alert-danger alert-dismissible fade show"
			     role="alert"
			     th:if="${error}">
			    <span th:text="${error}"></span>
			    <button type="button"
			            class="btn-close"
			            data-bs-dismiss="alert"
			            aria-label="Close">
			    </button>
			</div>
	            <h3 class="text-center">Change Password</h3>
				<div class="card mt-3 p-3 mx-auto" style="max-width: 500px;">
			        

			        <div class="card-body">
			            <form method="post"
			                  th:action="@{/admin/profile/update-password}">

			                <div class="mb-3">
			                    <label class="form-label" for="oldpassword">Old Password</label>
			                    <input type="password"
			                           name="oldPassword"
			                           class="form-control"
									   id="oldpassword"
			                           required>
			                </div>

			                <div class="mb-3">
			                    <label class="form-label" for="newpassword">New Password</label>
			                    <input type="password"
			                           name="newPassword"
			                           class="form-control"
									   id="newpassword"
			                           required>
			                </div>

			                <div class=" text-center">
								<button type="submit"
				                        class="btn btn-primary">
				                    Update Password
				                </button>
							</div>
			            </form>
			        </div>
			    </div>
			</div>
		</div>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

	</body>