<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manage Users</title>
</head>
<body>

<h2>Manage Users</h2>

<!-- 🔍 Search -->
<form method="get" th:action="@{/admin/users}">
    <input type="text"
           name="keyword"
           placeholder="Search by email"
           th:value="${keyword}">
    <button type="submit">Search</button>
</form>

<br>

<table border="1" cellpadding="8">
    <tr>
        <th>ID</th>
		<th>Full Name</th>
        <th>Email</th>
        <th>Role</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
		<td th:text="${user.fullname}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.role}"></td>

        <td>
            <span th:if="${user.blocked}" style="color:red">Blocked</span>
            <span th:if="${!user.blocked}" style="color:green">Active</span>
        </td>

        <td>
            <a th:if="${!user.blocked}"
               th:href="@{/admin/users/block/{id}(id=${user.id})}">
                Block
            </a>

            <a th:if="${user.blocked}"
               th:href="@{/admin/users/unblock/{id}(id=${user.id})}">
                Unblock
            </a>

            |
			<a th:href="@{/admin/users/history/{id}(id=${user.id})}">
			    History
			</a>
			|
			<a th:href="@{/admin/users/watchlist/{id}(id=${user.id})}">
			    Watchlist
			</a>
        </td>
    </tr>
</table>

<br>
<a href="/admin/dashboard">⬅ Back to Dashboard</a>

</body>
</html>
